<!-- <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo logo-font center" href="{{ site.url }}" style="max-width: 50%; max-height: 56px; overflow:hidden;">{{ site.title }}</a>
      <a class="button-collapse" data-activates="mobile-nav" href="#"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="logo-font" href="{{ site.url }}">主页</a></li>
        <li><a class="logo-font" href="{{ url }}/categories.html">分类</a></li>
        <li><a class="logo-font" href="{{ url }}/tags.html">页面和标签</a></li>
        <li><a class="logo-font" href="{{ url }}/atom.xml">RSS 订阅</a></li>
        <li><a class="logo-font" href="{{ url }}/about.html">关于</a></li>
      </ul>
    </div>
  </nav>
</div> -->



<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper">
      <a class="brand-logo logo-font center" href="{{ site.url }}" style="max-width: 50%; max-height: 56px; overflow:hidden;">{{ site.title }}</a>
      <a class="button-collapse" data-activates="mobile-nav" href="#"><i class="material-icons">menu</i></a>
      <!-- <a class="button-collapse show-on-large" data-activates="mobile-nav" href="#"><i class="mdi-navigation-menu"><i class="material-icons">menu</i></i></a> -->
</nav>
</div>

<ul class="side-nav" id="mobile-nav">
    <li>
      <div class="user-view">
          <div class="background deep-orange"></div>
        <img class="circle materialboxed" data-caption="{{ site.author.name }}" src="https://github.com/{{ site.author.github }}.png" alt="Avatar">
        <span class="white-text name">{{ site.author.name }}</span>
        {% if site.author.email %}
        <a href="mailto:{{ site.author.email }}"><span class="white-text email">{{ site.author.email }}</span></a>
        {% endif %}
      </div>
    </li>
    <li><a class="logo-font" href="{{ site.url }}">主页</a></li>
    <li><a class="logo-font" href="{{ url }}/categories.html">分类</a></li>
    <li><a class="logo-font" href="{{ url }}/tags.html">页面和标签</a></li>
    <li><a class="logo-font" href="{{ url }}/atom.xml">RSS 订阅</a></li>
    <li><a class="logo-font" href="{{ url }}/about.html">关于</a></li>
  </ul>

  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  <ul id="slide-out" class="side-nav fixed">
      <li>
          <div class="user-view">
              <div class="background deep-orange"></div>
            <img class="circle materialboxed" data-caption="{{ site.author.name }}" src="https://github.com/{{ site.author.github }}.png" alt="Avatar">
            <span class="white-text name">{{ site.author.name }}</span>
            {% if site.author.email %}
            <a href="mailto:{{ site.author.email }}"><span class="white-text email">{{ site.author.email }}</span></a>
            {% endif %}
          </div>
        </li>
        <li><a class="logo-font" href="{{ site.url }}">主页</a></li>
        <li><a class="logo-font" href="{{ url }}/categories.html">分类</a></li>
        <li><a class="logo-font" href="{{ url }}/tags.html">页面和标签</a></li>
        <li><a class="logo-font" href="{{ url }}/atom.xml">RSS 订阅</a></li>
        <li><a class="logo-font" href="{{ url }}/about.html">关于</a></li>
    </ul>
       