<article>
  <div class="card">
    {% if post.image.path %}
    <div class="card-image">
      <img class="materialboxed" data-caption="© {{ post.image.copyright }}" src="{{ post.image.path }}">
      <span class="card-title" style="background-color: rgba(0,0,0,.3); width: 100%;">
        {{ post.title }}
      </span>
    </div>
    {% endif %}
  </div>
  <div class="card {{site.color.post_card_color}}">
    <div class="card-content" style="cursor: pointer;" onclick="window.location='{{ url }}{{ post.url }}'">
      {% unless post.image.path %}
      <span class="card-title white-text">{{ post.title }}</span>
      {% endunless %}
      <p style="font-weight: 600; margin-bottom: 1px; color:white"><time datetime="{{ post.date }}">{{ post.date | date: "%Y-%m-%d" }}</time></p>
    </div>
      <div class="card-action {{site.color.post_card_color_light}}">
      <div id="post-content">
        {{ post.content | split:"<!-- more -->" | first | strip_html | truncate:100 }}
      </div>
      {% if site.author.disqus %}
      <div class="right-align" >
        <i class="material-icons" style="color: #9e9e9e;">comment</i>&nbsp;
        <a href="{{ url }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id }}">
        <span class="disqus-comment-count" data-disqus-identifier="{{ post.id }}" data-disqus-url="{{ url }}{{ post.url }}" >评论</span>
        </a>
      </div>
      {% endif %}
    </div>
    </div>
  </div>
</article>
