<!DOCTYPE html>

{% capture url %}{{ site.url | append: "$" | replace: "/$", "" | replace: "$", "" }}{% endcapture %}

<html lang="zh-CN">
<head>
  {% include meta.html %}
  {% include css.html %}
  <link rel="stylesheet" href="/assets/css/syntax.css">
</head>

<body>
  <style type="text/css">
      nav { background-color: {{ site.color.nav_bg_color }}; color: #fff ; }
      nav a { color: #fff; }
      nav ul a { color: #fff; }
      nav .brand-logo { color: #fff; }
    </style>
  <header>
    {% include nav.html %}
  </header>
  <main>
    <section>
      {{ content }}
    </section>
  </main>
  <footer class="page-footer">
    {% include footer.html %}
  </footer>
  {% include js.html %}
</body>
</html>
