---
layout: default
---

{% capture url %}{{ site.url | append: "$" | replace: "/$", "" | replace: "$", "" }}{% endcapture %}

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <article>
          <div class="card">
            {% if page.image.path %}
            <div class="card-image">
              <img class="materialboxed" data-caption="© {{ page.image.copyright }}" src="{{ page.image.path }}">
              <span class="card-title truncate" style="background-color: rgba(0,0,0,.3); width: 100%;">{{ page.title }}</span>
            </div>
            {% endif %}
            <div class="card-content">
              {% unless page.image.path %}
              <span class="card-title truncate">{{ page.title }}</span>
              {% endunless %}
              <p style="font-weight: 600; margin-bottom: 10px;"><time datetime="{{ post.date }}">{{ page.date | date: "%Y-%m-%d" }}</time>{% if site.author.disqus %} | <a href="{{ url }}{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.id }}">评论</a>{% endif %}</p>
              <div id="post-content">
                {{ content | replace: "<img", "<img class='materialboxed'" }}
              </div>
              {% if page.ccl %}
              <div class="center" style="margin-top: 16px;">
                <table>
                  <tr>
                    <td>
                      <span style="font-size: 12px; font-weight: 400; min-height: 31px;">
                        <img src="https://i.creativecommons.org/l/{{ page.ccl | downcase }}/4.0/80x15.png" alt="Creative Commons licenses">
                        原文使用 <a rel="license" href="http://creativecommons.org/licenses/{{ page.ccl | downcase }}/4.0/deed.zh">知识共享署名 4.0 国际许可协议</a>。<br>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
              {% endif %}
              <div class="divider" style="margin: 16px 0;"></div>
              {% for tag in page.tags %}
                <div class="chip">{{ tag }}</div>
              {% endfor %}
            </div>
          </div>
        </article>
      </div>
      {% if site.author.disqus %}
      <div class="col s12">
        <article>
          <div class="card">
            <div class="card-content">
              <span class="card-title">评论</span>
              {% include disqus.html %}
            </div>
          </div>
        </article>
      </div>
      {% endif %}
      <div class="col s12">
        {% if page.next %}
        <div class="left">
          <a class="btn-floating waves-effect waves-light white" href="{{ url }}{{ page.next.url }}"><i class="material-icons" style="color: rgba(0,0,0,.87);">arrow_back</i></a>
          <span style="color: rgba(0,0,0,.87); margin-left: 8px;">下一篇</span>
        </div>
        {% endif %}
        {% if page.previous %}
        <div class="right">
          <span style="color: rgba(0,0,0,.87); margin-right: 8px;">上一篇</span>
          <a class="btn-floating waves-effect waves-light white" href="{{ url }}{{ page.previous.url }}"><i class="material-icons" style="color: rgba(0,0,0,.87);">arrow_forward</i></a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if site.author.disqus %}
<script id="dsq-count-scr" src="//{{ site.author.disqus }}.disqus.com/count.js" async></script>
{% endif %}
